body {
      font-family: Arial, sans-serif;
      background-color: #f4f7f9;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .signup-container {
      background-color: #fff;
      padding: 0px 40px;
      border-radius: 12px;
      margin-top: 30px;
      margin-bottom: 30px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 350px;
    }

    h2 {
      text-align: center;
      margin-bottom: 25px;
      color: #333;
    }

    .input-field {
      margin: 10px;
    }

    .input-field label {
      display: block;
      margin-bottom: 5px;
      color: #555;
    }

    .input-field input {
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 15px;
    }

    .btn {
      width: 100%;
      padding: 12px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;
    }
    .btn-small {
      width: 20%;
      padding: 8px;
      background-color: #0a83ed;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 14px;
      cursor: pointer;
      margin-top: 10px;
    }
    .btn:hover,.btn-small:hover {
      background-color: #0056b3;
    }

  @media screen and (max-width:480px) {
    body {
      margin: 20px;
      height: auto;
    }

    #loginForm{
      margin-top: 45%;
    }
    .signup-container {
      padding: 20px;
      width: 80%;
      font-size: 13px;
    }

    .input-field {
      margin: 10px;
    }

    .input-field input {
      width: 90%;
      padding: 8px;
      font-size: 13px;
    }

    .btn {
      width: 40%;
      padding: 8px;
      font-size: 14px;
    }
    .btn-small {
      width: 25%;
      padding: 6px 10px;
      font-size: 12px;
      margin-left: 5px;
    }
    .signup-text{
      font-size: 12px;
      text-align: right;
    }

    /* Sign up form */
    #signupForm{
      font-size: 13px;
      padding: 10px 20px;
      margin: 0;
    }

    #signupForm h2{
      font-size: 18px;
      margin-bottom: 15px;
    }

    .signin-text{
      text-align: right;
    }
  }